/* base */
:root {
    --width-calc: 800px;
    --main-color: #f37700;
}
* {
    font-family: 'MuseoSansCyrl-300';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: #f37700;
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0;
}

/* main */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* header */
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #efeff1;
}

.header__wrapper-left {
    display: flex;
    align-items: center;
}

.header__wrapper-right {
    display: flex;
    align-items: center;
}

.header__descr {
    width: 215px;
    font-size: 12px;
}

.header__logo {
    height: 64px;
    width: 52px;
}

.header__descr {
    margin-left: 25px;
}

.header__whatsup-descr {
    font-family: 'MuseoSansCyrl-500';
    width: 204px;
    text-align: center;
    font-size: 14px;
}

.header__whatsup-button {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.86);
    padding: 1px 6px 1px 6px;
    background-image: none;
    border: 1px solid #3cb371;
    border-radius: 4px;
    box-sizing: border-box;
    color: #696969;
    font-size: 12px;
    width: 97px;
    margin-top: 6px;
}

.header__whatsup-button-text {
    align-self: center;
    text-decoration: none;
    color: #696969;
}

.header__whatsup-button-text:hover {
    align-self: center;
    text-decoration: none;
    color: #696969;
}

.header__whatsup-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__contact-online-icon {
    background-color: #a0cc9d;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.header__contact-online-icon-pulse {
    border-radius: 50%;
    margin: 0;
    background-color: #a0cc9d;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        height: 10px;
        width: 10px;
        transition: opacity 0.5s linear;
    }
    50% {
        opacity: 0;
        transform: scale(2);
        transition: opacity 0.5s linear;
    }
    100% {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
}

.header__contact {
    margin-left: 30px;
}

.header__contact {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.header__contact-online-phone {
    color: #4f4f4f;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'MuseoSansCyrl-700';
}

.header__contact-online-text {
    margin-left: 10px;
    font-family: 'MuseoSansCyrl-500';
}

.header__contact-online {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__contact-work {
    display: flex;
    color: #414141;
    font-size: 13px;
    margin-top: 4px;
}

.header__contact-work-img {
    margin-right: 5px;
}

/* footer */
.footer__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
}

.footer__contact,
.footer__catalog,
.footer__company {
    width: 33%;
}

.footer__company {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__catalog {
    text-align: center;
}

.footer__contact-title {
    color: #414141;
    font-size: 15px;
    font-family: 'MuseoSansCyrl-500';
}

.footer__contact-phone-link {
    color: #414141;
    font-size: 16px;
    font-family: 'MuseoSansCyrl-700';
    margin-left: 10px;
    text-decoration: underline;
}

.footer__contact-phone-img {
    height: 15px;
    width: 11px;
}

.footer__contact-mail-img {
    height: 16px;
    width: 16px;
}

.footer__contact-mail-link {
    text-decoration: underline;
    font-size: 13px;
    margin-left: 10px;
}

.footer__contact-mail {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.footer__contact-phone {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.footer__whatsup-title {
    font-family: 'MuseoSansCyrl-500';
    font-size: 12px;
    margin-top: 10px;
}

.footer__whatsup-descr {
    font-family: 'MuseoSansCyrl-500';
    width: 204px;
    text-align: center;
    font-size: 14px;
}

.footer__whatsup-button {
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.86);
    padding: 1px 6px 1px 6px;
    background-image: none;
    border: 1px solid #3cb371;
    border-radius: 4px;
    box-sizing: border-box;
    color: #696969;
    font-size: 12px;
    width: 97px;
}

.footer__whatsup-button-text {
    align-self: center;
}

.footer__whatsup-wrapper {
    display: flex;
    flex-direction: column;
}

.footer__whatsup-button-wrapper {
    display: flex;
    align-items: center;

    margin-top: 6px;
}

.footer__whatsup-button-other-text {
    font-size: 10px;
    color: #414141;
    width: 94px;
    margin-left: 10px;
}

.footer__copy {
    color: #414141;
    font-size: 13px;
    margin-top: 20px;
}

.footer__privacy {
    color: #414141;
    text-decoration: underline;
    font-size: 13px;
    font-family: 'MuseoSansCyrl-500';
}

.footer__company-name {
    color: #414141;
    font-size: 15px;
    font-family: 'MuseoSansCyrl-500';
}

.footer__company-soc-icon {
    width: 34px;
    margin-left: 10px;
}

.footer__company-descr {
    font-size: 11px;
    color: #696969;
    margin-top: 10px;
}

.footer__company-soc-descr {
    color: #414141;
    font-size: 12px;
    font-family: 'MuseoSansCyrl-500';
    width: 110px;
}

.footer__company-soc {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.footer-oferta-link {
    color: #414141;
    font-size: 13px;
    text-decoration: underline;
    font-family: 'MuseoSansCyrl-500';
}

.footer-oferta {
    margin-top: 25px;
}
.calc {
    display: block;
    padding: 25px;

    margin: 30px auto;
    max-width: var(--width-calc);
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #00000010, -5px -5px 25px #00000010;
}

.item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.divider {
    margin: 20px 80px 20px;
    display: block;

    height: 1px;
    background-color: #f3770052;
    padding-bottom: 0px;
}
.calc__descr {
    padding-left: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.calc__form {
    font-size: 20px;
    width: 170px;
}

h3 {
    text-align: center;
}
.item-result {
    display: grid;
    padding-right: 40px;
    padding-top: 15px;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.save-without-kit,
.save-without-kit-obj,
.lost-without-kit,
.lost-without-kit-obj,
.save-with-kit,
.save-with-kit-obj,
.lost-with-kit,
.lost-with-kit-obj,
.object,
.result-itog,
.result-itog-obj {
    font-size: 20px;
    font-weight: 500;
}

.result-itog,
.result-itog-obj {
    font-size: 20px;
    font-weight: 700;
}

/* calc */
.main__wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.main__title {
    font-size: 52px;
    font-family: 'MuseoSansCyrl-300';
    margin-top: 50px;
}

.main__title > span {
    font-weight: bold;
}

.calc__wrapper {
    width: 1000px;
    margin: 75px auto;
    box-shadow: 0 4px 250px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    background: #fff;
    padding: 85px 25px;
}

.calc__title {
    width: 460px;
    font-size: 31px;
}

.calc__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.calc__field-text > img {
    height: 21px;
    margin-right: 10px;
    padding-top: 4px;
}

.calc__btn {
    margin-top: 40px;
    text-align: center;
}
.calc__btn button {
    cursor: pointer;
}

.calc__btn button:hover {
    background-color: var(--main-color);
    color: #000;
    transition: all 0.3s ease-in-out;
}

.calc__field-text {
    font-size: 23px;
    display: flex;
    align-items: baseline;
}

.calc__field-input {
    width: 225px;
    font-size: 23px;
}

.calc__field-input span {
    margin-left: 10px;
}

.calc__field-input input {
    width: 200px;
    height: 50px;
    padding: 10px;
    background: #f1f1f1;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.calc__btn button {
    width: 350px;
    height: 75px;
    color: #ffffff;
    font-size: 30px;
    font-family: 'MuseoSansCyrl-500';
    background: #a0cc9d;
    border-radius: 50px;
    border: none;
}

.price-title {
    font-size: 30px;
    text-align: center;
    font-family: 'MuseoSansCyrl-700';
    margin-top: 60px;
}

.result-benefit {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.benefit-margin-top {
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.result-benefit__text {
    font-size: 24px;
    font-family: 'MuseoSansCyrl-700';
}

.result-benefit__subtitle {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 9px;
    font-size: 19px;
    text-align: center;
    height: fit-content;
}

.result-benefit__sum {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #a0cc9d;
    margin-top: 10px;
}

.background-grey {
    background-color: #f2f2f2;
    width: 270px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}

.border-radius-top {
    border-radius: 24px 24px 0px 0px;
}

.border-radius-bottom {
    border-radius: 0px 0px 24px 24px;
}

.calc__wrapper-calc {
    padding: 0 75px;
}

.background-orange {
    background-color: #ffdf6f;
    width: 310px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
}

.price-result {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, min-content);
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .'
        '. . .';
}

.price-result__img {
    height: 24px;
    padding-top: 4px;
}

.price-result__title {
    font-size: 22px;
    text-align: center;
    font-family: 'MuseoSansCyrl-700';
    margin-top: 15px;
}

.price-result__price {
    font-size: 22px;
    text-align: center;
    font-family: 'MuseoSansCyrl-700';
    margin-top: 10px;
}

.price-result__descr {
    font-size: 19px;
    display: flex;
    justify-self: baseline;
    margin-top: 15px;
    margin-bottom: 10px;
}

.price-result__text {
    margin-left: 10px;
}

.price-result__row-border {
    width: 100%;
    border-top: 1px dotted gray;
    grid-column: 1 / 4;
    border-top: 2px solid #ebebeb;
}

.price-result__object {
    background: #ffffff;
    border-radius: 10px;
    padding: 7px;
    font-size: 19px;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

@media (max-width: 730px) {
    .header__descr {
        display: none;
    }
    .footer__wrapper {
        flex-direction: column;
    }
    .footer__contact,
    .footer__catalog,
    .footer__company {
        width: 100%;
    }
    .footer__contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer__company {
        align-items: center;
        margin-top: 10px;
    }
    .calc {
        margin: 10px;
        padding: 20px 5px;
    }
    .calc__descr {
        padding-left: 10px;
    }
}

@media (max-width: 500px) {
    .header__wrapper {
        flex-direction: column;
    }
    .header__descr {
        display: block;
    }
    .header__wrapper-right {
        flex-direction: column-reverse;
        margin: 10px auto;
    }
    .header__contact {
        margin-bottom: 10px;
    }
    .header__wrapper {
        padding: 15px 0 0;
    }
}
